body {
	background: #5bb795;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: 'Pacifico', cursive;
}

a {
	text-decoration: none;
	color: #164070;
}

a:hover, a:visited, a:active {
	text-decoration: underline;
}

h1 {
  color: black;
	font-size: 70px;
	font-family: 'Pacifico', cursive;
}

h2 {
  color: white;
	font-family: sans-serif;
	font-size: 2.0em;
}

button {
	background: #363a29;
	border: none;
	color: white;
	font-size: 100px;
	height: 150px;
	width: 150px;
	cursor: pointer;

}

button:hover {
	background: #404431;
	border: 1px solid #5bb795;
}

button:active {
	background: #363a29;
	border: none;
}


p {
	font-weight: 500;
	text-align: center;;
	margin: 10px;
}

.box {
	color: white;
	font-size: 4.5em;
	text-align: center;
	display: inline-block;
	background: #363a29;
	height: 125px;
	width: 125px;
	margin: 0.4%;
	border: 2px solid #363a29;
	border-radius: 2px;
	vertical-align: top;
	cursor: pointer;
	-webkit-box-shadow: 2px 13px 20px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 13px 20px -6px rgba(0,0,0,0.75);
	box-shadow: 2px 13px 20px -6px rgba(0,0,0,0.75);
	-webkit-transition: 200ms linear;
	-moz-transition: 200ms linear;
	transition: 200ms linear;
}

.box:hover {
	background: #6de0b5;
}

.reset {
	color: black;
	cursor: pointer;
}

.reset:hover {
	cursor: pointer;
	color: white;
}

#selectWindow {
	margin: 100px auto;
	border: 1px solid #363a29 ;
	display: none;
	width: 100%;
	height: 500px;
	padding: 10px;
	background: rgba(0,0,0,0.2);
	z-index: 1;
}

#contentSelect {
	color: white;
	font-family: 'Pacifico', cursive;
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}

#ticBox {
	display: none;
	margin: 10px auto;
	max-width: 400px;
	height: 400px;
}

#ticBox h1 {
	font-size: 3em;
	text-align: center;
  margin-top: 0px;
}

@media only screen and (max-width: 500px) {
  #selectWindow {
    margin-top: 0px;
    padding-top: 10px;
  }

  #contentSelect {
    max-width: 360px;
    font-size: 12px
  }

  h1 {
    font-size: 55px
  }

  button {
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 35px
  }

  #ticBox {
   max-width: 360px;
   height: 360px;
   margin-top: 0px;
   padding-top: 0px;
  }

  #ticBox h1 {
    margin-top: 0px;
  }
	
  .box {
    width: 112px;
    height: 112px;
  }

  .row {
    padding-left:
  }
}
